<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<i>This app was created using the an Express 4 generator, to which we added a proxy for any unused express routes.</i>

<h2>Getting Started</h2>

<p>Before you can get started, the API has to be up and running. Run the 'servicestack-demo-cli.bat', then visit
some sample URLs below!</p>

<ul>
    <li><a href="/ping">Ping</a></li>
    <li><a href="/metadata">Metadata Page (HTML)</a></li>
    <li><a href="/postman">Postman Page</a></li>
    <li><a href="/operations/metadata">Operations Metadata Page</a></li>
</ul>
